<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>cocolis</name>
	<displayName><![CDATA[Cocolis]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Utilisez cocolis.fr comme mode de livraison. Spécialisé dans la livraison communautaire, cocolis vous permettra d\'envoyer des colis hors format.]]></description>
	<author><![CDATA[Cocolis]]></author>
	<tab><![CDATA[shipping_logistics]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
